<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<h1>Choreboard</h1>

<p>Create a new choreboard:</p>

<form hx-post="/">
	<% for (let i = 0; i < 10; i++) { %>
		<div class="row">
			<input type="text"
				     name="player<%= i %>"
						 placeholder="Player <%= i %>">
		</div>
	<% } %>
	<input type="submit">
</form>

</body>
</html>
